@import "tailwindcss";

body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* etcha colors */
@theme {
  --color-accent: #00827D;
  --color-accent-lighter: #005e5a;
  --color-accent-darker: #00a69f;
}
